@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    color: antiquewhite;
    font-family: 'Abril Fatface';
    font-size: 1rem;
}


/* Heading section */

.heading {
    text-align: center;
    font-size: 3rem;
    color: bisque;
    background-color: burlywood;
    opacity: 0.5;
    padding: 3rem 3rem 0.5rem 3rem;
    border: 1rem solid antiquewhite;
}

.heading > h1 {
    border: 1rem solid antiquewhite;
}

.heading > h2 {
    text-align: center;
    font-size: 1.5rem;
    padding: 1.5rem;
}

/* Cloud list section */

.pink {
    background-image: url(../images/pink\ clouds.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 12rem;
}

.purple {
    background-image: url(../images/purple-cloud.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 12rem;
}

.blue {
    background-image: url(../images/blue-clouds.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 12rem;
}

.grey {
    background-image: url(../images/grey-clouds.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 12rem;
}

.red {
    background-image: url(../images/red-clouds.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 12rem;
}

.cloud-title {
    padding: 3rem;
    text-align: center;
    font-size: 3rem;
    border: 1rem solid antiquewhite;
}

.cloud-title:hover {
    transition: 1.5s;
    opacity: 0.5;
    color: bisque;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

/* Footer section */

footer {
    background-color: burlywood;
    opacity: 0.5;
    border: 1rem solid antiquewhite;
}

.social-links {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem 3rem;
}

.social-links > li {
    padding: 0 3rem;
    font-size: 2rem;
}

.fab {
    color: antiquewhite;
    border: 2px solid antiquewhite;
    border-radius: 50%;
    padding: 0.5rem;

}

.fab:hover {
    transition: 1s;
    font-size: 2.5rem;
}

/* Gallery pages */

#photo-gallery {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0 0.5rem;
    padding: 1rem;
}

#photo-gallery > img {
    width: 100%;
    padding: 0.5rem 0;;
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .heading > h1 {
        font-size: 95%;
    }

}

@media screen and (max-width: 576) {

   .social-links > li {
       padding: 0 1rem;
   }
}

@media screen and (max-width: 423) {

    #purple-heading > h1 {
        font-size: 2.5rem;
    }
 }